flows/dht11.json
[{"id":"c50d047d.9c382","type":"tab","label":"View Data","disabled":false,"info":""},{"id":"b6b9f472.042c38","type":"serial in","z":"c50d047d.9c382","name":"dht11","serial":"c9a898fb.a6613","x":150,"y":640,"wires":[["ae9b226.acfade","b51cfd42.28c2c8","72801e5a.1ddb08","14111df0.517802"]]},{"id":"ae9b226.acfade","type":"ui_text","z":"c50d047d.9c382","group":"87a71365.0ec5e8","order":0,"width":0,"height":0,"name":"","label":"read out","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":480,"wires":[]},{"id":"d1989fac.085918","type":"debug","z":"c50d047d.9c382","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":760,"wires":[]},{"id":"b51cfd42.28c2c8","type":"function","z":"c50d047d.9c382","name":"Humidity","func":" msg.payload = msg.payload.split(' ')[2].substr(0,3); \n return msg; ","outputs":1,"noerr":0,"x":400,"y":700,"wires":[["d1989fac.085918","ac0cf501.984a5"]]},{"id":"72801e5a.1ddb08","type":"debug","z":"c50d047d.9c382","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":560,"wires":[]},{"id":"14111df0.517802","type":"function","z":"c50d047d.9c382","name":"Temperature","func":" msg.payload = msg.payload.split(' ')[5].substr(0,3); \n return msg; ","outputs":1,"noerr":0,"x":390,"y":780,"wires":[["322dd6f1.c4524a","b60d8ca2.8971a"]]},{"id":"322dd6f1.c4524a","type":"debug","z":"c50d047d.9c382","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":840,"wires":[]},{"id":"ac0cf501.984a5","type":"ui_gauge","z":"c50d047d.9c382","name":"","group":"87a71365.0ec5e8","order":2,"width":0,"height":0,"gtype":"gage","title":"hum","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":720,"wires":[]},{"id":"b60d8ca2.8971a","type":"ui_gauge","z":"c50d047d.9c382","name":"","group":"87a71365.0ec5e8","order":1,"width":0,"height":0,"gtype":"gage","title":"temp","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":800,"wires":[]},{"id":"c9a898fb.a6613","type":"serial-port","z":"","serialport":"COM10","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"100000"},{"id":"87a71365.0ec5e8","type":"ui_group","z":"","name":"Default","tab":"5852ea2e.fa3ccc","order":1,"disp":true,"width":"10","collapse":true},{"id":"5852ea2e.fa3ccc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
